<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Socio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h2 class="mb-0">Agregar Socio</h2>
                    </div>
                    <div class="card-body">
                        <div id="alert-message" class="alert alert-danger d-none" role="alert">
                            Por favor, complete los campos obligatorios:
                            <ul id="missing-fields-list"></ul>
                        </div>
                        <div id="invalid-fields-alert" class="alert alert-danger d-none" role="alert">
                            Por favor, ingrese datos válidos en los campos resaltados.
                        </div>
                        <form method="post" class="needs-validation" novalidate>
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="{{ form.nombre.id_for_label }}">Nombre:</label>
                                {{ form.nombre }}
                                <div class="invalid-feedback">
                                    {{ form.nombre.errors }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.fecha_incorporacion.id_for_label }}">Fecha de Incorporación:</label>
                                {{ form.fecha_incorporacion }}
                                <div class="invalid-feedback">
                                    {{ form.fecha_incorporacion.errors }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.año_nacimiento.id_for_label }}">Año de Nacimiento:</label>
                                {{ form.año_nacimiento }}
                                <div class="invalid-feedback">
                                    {{ form.año_nacimiento.errors }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.telefono.id_for_label }}">Teléfono:</label>
                                {{ form.telefono }}
                                <div class="invalid-feedback">
                                    {{ form.telefono.errors }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.correo_electronico.id_for_label }}">Correo Electrónico:</label>
                                {{ form.correo_electronico }}
                                <div class="invalid-feedback">
                                    {{ form.correo_electronico.errors }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.sexo.id_for_label }}">Sexo:</label>
                                {{ form.sexo }}
                                <div class="invalid-feedback">
                                    {{ form.sexo.errors }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.estado.id_for_label }}">Estado:</label>
                                {{ form.estado }}
                                <div class="invalid-feedback">
                                    {{ form.estado.errors }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.observacion.id_for_label }}">Observación:</label>
                                <textarea class="form-control" id="{{ form.observacion.id_for_label }}" name="{{ form.observacion.name }}" rows="4"></textarea>
                               
                            </div>
                            <button type="button" class="btn btn-primary" onclick="validateForm()">Guardar</button>
                            <a href="{% url 'listar_socios' %}" class="btn btn-secondary">Cancelar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
     
        (function () {
            'use strict';
            window.addEventListener('load', function () {
               
                var forms = document.getElementsByClassName('needs-validation');
              
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                            showMissingFieldsAlert();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

        function validateForm() {
            var form = document.querySelector('.needs-validation');
            var missingFields = [];
            var invalidFields = [];

      
            hideMissingFieldsAlert();

       
            if (!form.nombre.value) {
                missingFields.push('Nombre');
                markFieldAsInvalid(form.nombre);
            }
            if (!form.fecha_incorporacion.value) {
                missingFields.push('Fecha de Incorporación');
                markFieldAsInvalid(form.fecha_incorporacion);
            }
            if (!form.año_nacimiento.value) {
                missingFields.push('Año de Nacimiento');
                markFieldAsInvalid(form.año_nacimiento);
            }
            if (!form.telefono.value || !isValidNumber(form.telefono.value) || form.telefono.value.length > 12) {
                invalidFields.push('Teléfono');
                markFieldAsInvalid(form.telefono);
            }
            if (!form.correo_electronico.value || !isValidEmail(form.correo_electronico.value)) {
                invalidFields.push('Correo Electrónico');
                markFieldAsInvalid(form.correo_electronico);
            }
            if (!form.sexo.value) {
                missingFields.push('Sexo');
                markFieldAsInvalid(form.sexo);
            }
            if (!form.estado.value) {
                missingFields.push('Estado');
                markFieldAsInvalid(form.estado);
            }

            if (missingFields.length > 0) {
                showMissingFieldsAlert(missingFields);
                return;
            }

            if (invalidFields.length > 0) {
                showInvalidFieldsAlert();
                return;
            }

            
            form.submit();
        }

        function showMissingFieldsAlert(missingFields) {
            var alertMessage = document.getElementById('alert-message');
            var missingFieldsList = document.getElementById('missing-fields-list');
            missingFieldsList.innerHTML = '';

            missingFields.forEach(function (field) {
                var listItem = document.createElement('li');
                listItem.textContent = field;
                missingFieldsList.appendChild(listItem);
            });

            alertMessage.classList.remove('d-none');
        }

        function hideMissingFieldsAlert() {
            var alertMessage = document.getElementById('alert-message');
            alertMessage.classList.add('d-none');
        }

        function showInvalidFieldsAlert() {
            var invalidFieldsAlert = document.getElementById('invalid-fields-alert');
            invalidFieldsAlert.classList.remove('d-none');
        }

        function isValidNumber(value) {
            return /^\d+$/.test(value);
        }

        function isValidEmail(value) {
            var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return emailRegex.test(value);
        }

        function markFieldAsInvalid(field) {
            field.classList.add('is-invalid');
        }
    </script>
</body>

</html>
